.mainDiv
{
  /* margin: 5rem 20rem; */
  margin: auto;
  margin-top: 4rem;
  width: 60%;
  text-align: center;
  background-color: #F5F5F5;
  padding: 2rem;
  border-radius: 10px;
}
.mainDiv h1
{
  margin-bottom: 2rem;
  font-size: 3em;
}
.mainDiv h3
{
  font-size: 1.5em;
  width: 75%;
  margin: auto;
}
@media only screen and (max-width: 800px)
{
  .mainDiv
  {
    margin-top: 1.3rem;
    width: 90%;
  }
  .mainDiv h1
  {
    font-size: 2em;
    margin-bottom: 1rem;
  }
  .mainDiv h3
  {
    width: 90%;
    font-size: 1em;
  }
}